
<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p>
  <strong>画像:</strong>
  <%= image_tag @user.image.url if @user.image && @user.image.url %>
</p>

<br>
<table border="5">
<td><%= link_to '新規投稿', new_post_path %>
<td><%= link_to '投稿一覧', posts_path %>
<td><%= link_to 'プロフィール編集', edit_user_path(@user.id) %>
<td><%= link_to 'お問い合わせ', new_contact_path %>
</table>
<h4>お気に入りした写真一覧</h4>
<table border="5">
  <thead>
  <tr>
    <th>投稿者</th>
    <th>画像</th>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
  </thead>
  <tbody>
<% @favorites.each do |favorite| %>
    <%if favorite.user.email == current_user.email %>
      <tr>
        <td><%= favorite.post.user.name %></td>
        <td><%= image_tag favorite.post.image.url, class: 'bd-placeholder-img card-img-top', width: "50%", height: "225" %></td>
        <td><%= favorite.post.title %></td>
        <td><%= favorite.post.content %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
