<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p>
  <strong>画像:</strong>
  <%= image_tag @user.image.url if @user.image && @user.image.url %>
</p>

<br>
<td><%= link_to 'プロフィール編集', edit_user_path(@user.id) %>


<br><br><br>
<%= link_to '新規投稿', new_post_path %>
<%= link_to '投稿一覧', posts_path %>

<h4>お気に入りした写真一覧</h4>
<table border="1">
  <thead>
  <tr>
    <th>投稿者</th>
    <th>画像</th>
    <th>内容</th>
  </tr>
  </thead>
  <tbody>
  <% if @favorite_list.present? %>
    <% @favorite_list.each do |feed| %>
      <tr>
        <td><%= post.user.name %></td>
        <td><%= image_tag post.image.url %></td>
        <td><%= post.content %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
